/*** Portfolio Website CSS ***/



body {
    font-size: 16px;
}
.color-red {
    color: #bf2a2b;
}
.bg-red {
    background-color: #bf2a2b;
}
.navbar-title {
    font-size: 1.5rem;
}
.main-container {
    padding-bottom: 5rem;
    background-image: url("./assets/images/logo-white.png");
    background-position: bottom left;
    background-repeat: no-repeat;
}
footer {
    min-height: 60px;
}