/*** Portfolio Website CSS ***/



body {
    font-size: 16px;
}
.color-red {
    color: #bf2a2b;
}
.bg-red {
    background: #bf2a2b;
}
.main-logo {
  width: 140px;
}
.navbar-title {
    font-size: 1.5rem;
}
footer {
    min-height: 60px;
    padding-bottom: 10rem;
    background: url("./assets/images/logo.png") bottom left no-repeat;
}
