/*** PORTFOLIO APP STYLES ***/
/****************************/

/* General */
.color-red {
    color: #e04344;
}
.bg-red {
    background-color: #e04344;
}
.border-red {
    border: solid 3px #e04344;
}
.sticky-wrapper {
    position: relative;
    height: 3rem; /* We need to change this value */
  }
.sticky .sticky-inner {
    position: fixed;
    top: 0;
    left: 1rem;
    right: 1rem;
    z-index: 1;
    background-color: #f7f7f7;
}

/* Main Container */
.main-container {
    background-image: url("./assets/images/logo-white.png");
    padding-bottom: 13rem;
    background-position: bottom 16rem left -5rem;
    background-repeat: no-repeat;
}

/* Main Navigation */
.navbar {
    z-index: 10;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 1rem;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #e04344;
 }
.navbar-title {
    font-size: 1.5rem;
}

/* Typography */
.display-1 {
    font-size: 4.369rem;
}
.display-2 {
    font-size: 3.75rem;
}
.display-3 {
    font-size: 2rem;
}
.display-4 {
    font-size: 2.75rem;
}
.display-5 {
    font-size: 1.75rem;
}

/* Buttons and Links */
a {
    color: #e04344;
}
a:hover, a:active {
    color: #962122;
}
.btn-primary {
    background: #e04344;
    background-color: #e04344;
    border-color: #e04344;
    padding: .5rem 1.5rem;
    font-size: 1.25rem;
    font-weight: normal;
}
.btn-primary:hover, .btn-primary:active,
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
 .btn-primary:not(:disabled):not(.disabled):active,
  .show>.btn-primary.dropdown-toggle {
    background: #962122;
    border-color: #962122;
}

/* Gallery/Carousel */
.carousel.carousel-slider {
    overflow: visible;
}
.carousel .slide {
    background: transparent;
    padding-bottom: 1rem;
}
.carousel.carousel-slider .control-arrow:hover {
    background: transparent;
}
.carousel .carousel-status {
    display: none;
}
.carousel .control-dots {
    display: none;
}
.carousel .control-dots .dot {
    box-shadow: none;
    background: rgba(191,42,43,0.9);
}
.carousel.carousel-slider .control-arrow {
    padding: 0;
}
.carousel.carousel-slider .control-arrow:before, .carousel .control-arrow:before {
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}
.carousel .control-next.control-arrow:before {
    border-left: 25px solid #e04344;
    margin-right: -12px;
}
.carousel .control-prev.control-arrow:before {
    border-right: 25px solid #e04344;
    margin-left: -12px;
}
.g-card {
    margin: 20px;
    cursor: pointer;
    position: relative;
}
.g-card-image {
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0px 0px 3px 1px #666;
}
.g-card-image:hover {
    border: solid 3px #e04344;
    border-radius: 10px;
}
.g-card-info {
    position: absolute;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.88);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.g-card-info-enter {
    opacity: 0.01;
}
.g-card-info-enter.g-card-info-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.g-card-info-leave {
  opacity: 1;
}
.g-card-info-leave.g-card-info-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.g-card-title {
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
}
.g-card-sub-title {
    font-size: 1rem;
}

/* About */
.about-img {
    width: 300px;
    height: 300px;
}
/* Form */
label {
    font-weight: bold;
}
.success-msg {
  color: #57A773;
  padding: 10px 15px;
}
.err-msg {
  color: #962122;
  padding: 10px 15px;
}

/* Footer */
footer {
    min-height: 60px;
}
footer a {
    color: white;
}
footer a:hover {
    color: #CCC;
}
footer font {
    font-size: 14px;
}


/* Responsive Media Queries */
@media (max-width: 1666px) {
    .display-1 {
        font-size: 2.5rem;
    }
    .display-2 {
        font-size: 2rem;
    }
    .display-3 {
        font-size: 1.5rem;
    }
    .display-4 {
        font-size: 2.5rem;
    }
    .display-5 {
        font-size: 1.5rem;
    }
}
@media (max-width: 991px) {
    .display-1 {
        font-size: 1.89rem;
    }
    .display-2 {
        font-size: 1.6rem;
    }
    .display-3 {
        font-size: 1.25rem;
    }
    .display-5 {
        font-size: 1.25rem;
    }
    .navbar-light .navbar-nav .nav-link {
        margin-bottom: .75rem;
    }
}
@media (max-width: 767px) {
    .main-container {
        background-position: bottom 9rem center;
    }
    .carousel .control-dots {
        display: block;
        height: 10px;
    }
}