/*** PORTFOLIO APP STYLES ***/
/****************************/

/* General */
.color-red {
    color: #bf2a2b;
}
.bg-red {
    background-color: #bf2a2b;
}

/* Main Container */
.main-container {
    background-image: url("./assets/images/logo-white.png");
    padding-bottom: 13rem;
    background-position: bottom 9rem left -6rem;
    background-repeat: no-repeat;
}

/* Main Navigation */
.navbar-light .navbar-nav .nav-link {
    font-size: 1.25rem;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #bf2a2b;
 }
.navbar-title {
    font-size: 1.5rem;
}

/* Typography */
.display-1 {
    font-size: 4.369rem;
}
.display-2 {
    font-size: 3.75rem;
}
.display-3 {
    font-size: 2rem;
}
.display-4 {
    font-size: 2.75rem;
}
.display-5 {
    font-size: 1.75rem;
}

/* Buttons and Links */
a {
    color: #bf2a2b;
}
a:hover, a:active {
    color: #a72526;
}
.btn-primary {
    background: #bf2a2b;
    background-color: #bf2a2b;
    border-color: #bf2a2b;
    padding: .5rem 1.5rem;
    font-size: 1.25rem;
    font-weight: normal;
}
.btn-primary:hover, .btn-primary:active,
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
 .btn-primary:not(:disabled):not(.disabled):active,
  .show>.btn-primary.dropdown-toggle {
    background: #a72526;
    border-color: #a72526;
}

/* Gallery/Carousel */
.carousel .slide {
    background: transparent;
}
.carousel.carousel-slider .control-arrow:hover {
    background: transparent
}
.carousel .carousel-status {
    color: #ddd;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    text-shadow: none;
}
.carousel .control-dots {
    height: 10px;
}
.carousel .control-dots .dot {
    box-shadow: none;
    background: rgba(191,42,43,0.9);
}
.carousel.carousel-slider .control-arrow:before, .carousel .control-arrow:before {
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
.carousel .control-next.control-arrow:before {
    border-left: 33px solid rgba(191,42,43,0.9);
}
.carousel .control-prev.control-arrow:before {
    border-right: 33px solid rgba(191,42,43,0.9);
}
.g-card {
    margin: 20px;
    cursor: pointer;
    position: relative;
}
.g-card-image {
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0px 0px 3px 1px #666;
}
.g-card-image:hover {
    border: solid 3px #bf2a2b;
    border-radius: 10px;
}
.g-card-info {
    position: absolute;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.88);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.g-card-info-enter {
    opacity: 0.01;
}
.g-card-info-enter.g-card-info-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.g-card-info-leave {
  opacity: 1;
}
.g-card-info-leave.g-card-info-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.g-card-title {
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
}
.g-card-sub-title {
    font-size: 1rem;
}

/* Form */
label {
    font-weight: bold;
}
.success-msg {
  color: #57A773;
  padding: 10px 15px;
}
.err-msg {
  color: #a72526;
  padding: 10px 15px;
}

/* Footer */
footer {
    box-shadow: 0 0 3px 1px #999;
    min-height: 60px;
}
footer a {
    color: white;
}
footer a:hover {
    color: #CCC;
}


/* Responsive Media Queries */
@media (max-width: 1666px) {
    .display-1 {
        font-size: 3.3rem;
    }
    .display-2 {
        font-size: 2.75rem;
    }
    .display-3 {
        font-size: 1.75rem;
    }
    .display-4 {
        font-size: 2.5rem;
    }
    .display-5 {
        font-size: 1.5rem;
    }
}
@media (max-width: 991px) {
    .display-1 {
        font-size: 2rem;
    }
    .display-2 {
        font-size: 1.75rem;
    }
    .display-3 {
        font-size: 1.5rem;
    }
    .display-4 {
        font-size: 2.25rem;
    }
    .display-5 {
        font-size: 1.25rem;
    }
}
@media (max-width: 767px) {
    .display-3 {
        font-size: 1.25rem;
    }
    .display-4 {
        font-size: 2rem;
    }
    .main-container {
        background-position: bottom 9rem center;
    }
}