/*** PORTFOLIO APP STYLES ***/
/****************************/

/* General */
.color-gold {
    color: #b89f5d;
}
.bg-gold {
    background-color: #b89f5d;
}
.border-gold {
    border: solid 3px #b89f5d;
}
.sticky-wrapper {
    position: relative;
    height: 3rem; /* We need to change this value */
  }
.sticky .sticky-inner {
    position: fixed;
    top: 0;
    left: 1rem;
    right: 1rem;
    z-index: 1;
    background-color: white;
}

/* Typography */
.display-1 {
    font-size: 4.369rem;
}
.display-2 {
    font-size: 3.75rem;
}
.display-3 {
    font-size: 2rem;
}
.display-4 {
    font-size: 2.75rem;
}
.display-5 {
    font-size: 1.75rem;
}

/* Buttons and Links */
a {
    color: #b89f5d;
}
a:hover, a:active {
    color: #937f4a;
}
.btn-primary {
    background: #b89f5d;
    background-color: #b89f5d;
    border-color: #b89f5d;
    padding: .5rem 1.5rem;
    font-size: 1.25rem;
    font-weight: normal;
}
.btn-primary:hover, .btn-primary:active,
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
 .btn-primary:not(:disabled):not(.disabled):active,
  .show>.btn-primary.dropdown-toggle {
    background: #937f4a;
    border-color: #937f4a;
}
/* Main Container */
.main-container {
    padding-bottom: 13rem;
}

/* Main Navigation */
.navbar {
    z-index: 10;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 1.25rem;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #b89f5d;
 }
.navbar-title {
    font-size: 1.7rem;
    cursor: pointer;
}
button.navbar-toggler { /* mobile hamburger icon positioning */
    position: absolute;
    top: 1rem;
    right: 0rem;
}
.navbar-toggler>.navbar-toggler-icon {
    color: #000;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='-100 -100 800 800'><g><path opacity='0.6' d='M356.781,305.982L601.453,61.311c14.033-14.033,14.033-36.771,0-50.774c-14.004-14.033-36.741-14.033-50.774,0L306.007,255.208L61.277,10.536c-14.004-14.033-36.771-14.033-50.774,0c-14.004,14.004-14.004,36.742,0,50.774l244.701,244.672L10.503,550.684c-14.004,14.004-14.004,36.771,0,50.774c7.016,7.017,16.216,10.51,25.387,10.51c9.2,0,18.371-3.493,25.387-10.51l244.701-244.701l244.671,244.701c7.017,7.017,16.217,10.51,25.388,10.51c9.199,0,18.399-3.493,25.387-10.51c14.033-14.033,14.033-36.771,0-50.774L356.781,305.982z'/></g></svg>");
}

/* Logo Toggle */
.toggle-base {
    width: 100%;
    max-width: 370px;
    font-size: 1.25rem;
    height: 40px;
    line-height: 40px;
}
@media (min-width: 768px) {
    .toggle-base span:before {
        content: " | ";
        color: #b89f5d;
        padding-left: .5rem;
        padding-right: .25rem;
    }
}
.toggle-enter {
    animation: slide-in 600ms forwards;
}
.toggle-leave {
    animation: slide-out 600ms forwards;
}
@keyframes slide-in {
    0%   {
        left: -370px;
        margin: 0;
    }
    50%, 100% {
        left: -370px;
        padding: 20px;
        margin: 10px 0;
    }
    100% {
        left: 0;
    }
}

@keyframes slide-out {
    0%, 50% {
        left: 0;
        padding: 20px;
        margin: 10px 0;
    }
    50% {
        left: -370px;
    }
    100% {
        left: -370px;
        padding: 0;
        margin: 0;
    }
}

/* Gallery/Carousel */
.carousel.carousel-slider {
    overflow: visible;
}
.carousel .slide {
    background: transparent;
    padding-bottom: 1rem;
}
.carousel.carousel-slider .control-arrow:hover {
    background: transparent;
}
.carousel .carousel-status {
    display: none;
}
.carousel .control-dots {
    display: none;
}
.carousel .control-dots .dot {
    box-shadow: none;
    background: rgba(184,159,93,0.9);
}
.carousel.carousel-slider .control-arrow {
    padding: 0;
}
.carousel.carousel-slider .control-arrow:before, .carousel .control-arrow:before {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
.carousel .control-next.control-arrow:before {
    border-left: 18px solid #b89f5d;
    margin-right: 0;
}
.carousel .control-prev.control-arrow:before {
    border-right: 18px solid #b89f5d;
    margin-left: 0;
}
.g-card {
    margin: 20px;
    cursor: pointer;
    position: relative;
}
.g-card-image {
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 4px 3px 0px #666;
}
.g-card-image:hover {
    border: solid 3px #937f4a;
    border-radius: 10px;
}
.g-card-info {
    position: absolute;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.88);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.g-card-info-enter {
    opacity: 0.01;
}
.g-card-info-enter.g-card-info-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.g-card-info-leave {
  opacity: 1;
}
.g-card-info-leave.g-card-info-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.g-card-title {
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
}
.g-card-sub-title {
    font-size: 1rem;
}

/* About */
.about-img {
    width: 300px;
    height: 300px;
    background: #000;
}

/* Workflow */
.workflow-img {
    max-width: 48%;
    width: 100%;
    height: auto;
    background: #000;
}

/* Form */
label {
    font-weight: bold;
}
.success-msg {
  color: #57A773;
  padding: 10px 15px;
}
.err-msg {
  color: red;
  padding: 10px 15px;
}

/* Footer */
footer {
    min-height: 60px;
    background: #000;
}
footer a {
    color: white;
}
footer a:hover {
    color: #b89f5d;
}
footer font {
    font-size: .75rem;
}


/* Responsive Media Queries */
@media (max-width: 1666px) {
    .display-1 {
        font-size: 2.5rem;
    }
    .display-2 {
        font-size: 2rem;
    }
    .display-3 {
        font-size: 1.5rem;
    }
    .display-4 {
        font-size: 2.5rem;
    }
    .display-5 {
        font-size: 1.5rem;
    }
}
@media (max-width: 991px) {
    .display-1 {
        font-size: 1.89rem;
    }
    .display-2 {
        font-size: 1.6rem;
    }
    .display-3 {
        font-size: 1.25rem;
    }
    .display-5 {
        font-size: 1.25rem;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 1.125rem;
        margin-bottom: .75rem;
    }
}
@media (max-width: 767px) {
    .main-container {
        padding-bottom: 16rem;
    }
    .carousel .control-dots {
        display: block;
        height: 10px;
    }
    .toggle-base {
        width: 100%;
        font-size: 1rem;
        height: 30px;
        line-height: 30px;
    }
}